body {
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: center; */
    /* overflow-x: hidden; */
    /* align-items:flex-start; */
    /* overflow: hidden; */
    background-color: azure;
    /* height: 100rem; */
}
svg {
    width: 2rem;
    height: 2rem;
}
.container {
    border: .1rem solid black;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-win {
    /* border: none; */
    /* width: 100%;
    height: 60rem;
    border-radius: 1rem;
    background-color: azure;
    overflow: hidden; */
    overflow: hidden;
    height: 99vh;
    width: 99vw;
}
.nav-group {
    /* border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; */
    border: none;

}
.login-group {
    /* border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem; */
    border: none;
}
.button {
    border-radius: 1rem;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.filter-box {
    border: none;
    height: fit-content;
    /* width: 50rem; */
    margin-left: 5rem;
}
.main-filters-box{
    /* width: 100rem; */
    height: fit-content;
    border: none;
   
}
.base-widgets {
    overflow-y: auto;
    overflow-x: hidden;
    /* width: 100rem; */
}
.num-filters-box {

}
.type-filters-box {

}

.select, .num-filters-input, .select-inner {
    
    padding: .5rem;
    /* width: 30rem; */
    border-radius: .5rem;
}
.select {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}
.select p {
    width: 28rem;
    overflow-x: hidden;
}
.select-inner {
    z-index: 10;
    position: absolute;
    margin-top: 7rem;
    max-height:20rem;
    overflow-y: auto;
}
.inner-text {
    display: flex;
    cursor: pointer;
    margin: .1rem;
    padding: .3rem;
    border-radius: .5rem;
}
.inner-text:hover {
    background-color: rgb(215, 255, 255);
}

.filters-button {
    border-radius: .5rem;
    padding: .3rem;
    cursor: pointer;
    width: fit-content;
}
.task {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    margin-top: 1rem;
}
.task-number-ege {
    border: .1rem solid black;
    padding: .5rem;
    width: 2rem;
    display: flex;

}
.task-number-all {
    /* margin-left: 1rem; */
    padding: 1rem;
    font-style: italic;
}
.task-top {
    display: flex;  
    align-items: center;    
    font-size: 1.2rem;
    width: max-content;
}
.change-ege-input {
    width: 2rem;
    margin: .3rem;
}
.task-info {
    
}

.task-img   {
    height: 10rem;
    display: flex;
    width: fit-content;
}

.add-node-button{
    display: flex;
    margin: .5rem;
    padding: .5rem;
    border: .1rem solid black;
    border-radius: .5rem;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.add-node-button p {
    margin-left: .5rem;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button:focus,
input[type="number"]::-webkit-outer-spin-button:focus {
  display: none;
}
input:focus {
    outline: none;
    
}

.column-flex {
    flex-direction: column;
}
.row-flex {
    flex-direction: row;
}
.centralize {
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar {
    width: .3rem; /* ширина скроллбара */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(87, 130, 141);
    border-radius: 2rem; /* цвет ползунка */
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(106, 159, 172);
}

::-webkit-scrollbar-track {
    background-color: rgb(150, 202, 215); /* цвет полосы прокрутки */
}

/* Изменение стиля скроллбара в Firefox */
::-moz-scrollbar {
    width: .3rem; /* ширина скроллбара */
}

::-moz-scrollbar-thumb {
    background-color: rgb(87, 130, 141);
    border-radius: 2rem;/* цвет ползунка */
}
::-moz-scrollbar-thumb:hover {
    background-color: rgb(106, 159, 172);
}

::-moz-scrollbar-track {
    background-color: rgb(150, 202, 215);/* цвет полосы прокрутки */
}